{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
  
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <title>NeighborHood</title>
</head>
<body>
  {% include "navbar.html" %} 
  <div class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
    <h3>
        Welcome to the NeighborHood
    </h3>
    <p>
      NeighborHood is a page where users from specific residences can post their businesess and agenda concerning the residence.
      <br>Users from a specific neighbourhood are the only ones allowed to view posts from that neighbourhood.
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <br><br>
    <div class="container" align="center">
    <div class="card text-white bg-success mb-3" style="width: 18rem;">
      <div class="card-body" align="center">
        <a class="card-link" href="{% url 'neighborhood' %}">Hood</a>
        <p class="card-text">Hood consists of the neighbourhood posts and businesess <br>
          click the following links down below to get redirected to the respective pages.</p>
          <a class="card-link" href="{% url 'hoodposts' %}">Hood-posts</a>
          <a class="card-link" href="{% url 'hoodbusiness' %}">Hood-Business</a>
      </div>
    </div>
  </div>
</div>
    


  
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"
  ></script>  
</body>
</html>